{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

<div class="container text-center">
    <h1 class="my-5 text-center">Mes Projets</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4 mt-4">
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{ project.image }}" alt="{{ project.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.introduction }}</p>
                    <div class="projects-links d-flex justify-content-between">
                        <a href="{{ project.github }}" target="_blank" class="btn btn-outline-dark"><i class="fab fa-github"></i> GitHub</a>
                        <a href="{{ path('projects_show', {'id': project.id}) }}" class="btn btn-outline-info"><i class="fas fa-info-circle"></i> En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
